@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


#sign-up {
    #sign-up-top{
        @include navbar-background($topTranslation);
    
        @media (max-width: 575px) {
            display: none;
        }
    }

    h1 {
        @media (max-width: 576px) {
            font-size: 2rem;
        }
    }

    img {
        width: 100px;
        height: 100px;
    }
}