@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


#events-short {
    @include body-background-image;
    background-image: $image-gradient, url(img/pole.jpg);

    h1 {
        @include section-title;
    }

    #events-short-mobile {
        @media (min-width: 768px ) {
            display: none;
        }
    }

    #events-short-slider {
        @media (max-width: 767px) {
            display: none;
        }

        img {
            width: 100%;
        }

        h2 {
            width: 95%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 30px;
            left: 40px;
            color: rgb(255, 255, 255);

            @media (max-width: 992px) {
                font-size: 1.75rem;
                top: 20px;
                left: 30px;
            }
        }
    }

    #events-short-youtube {
        div {
            color: white;
            background-color: rgba(0, 0, 0, 0.3);

            h2 {
                @media (max-width: 991px) {
                    font-size: 1.75rem;
                }

                @media (max-width: 576px) {
                    font-size: 1.5rem;
                }
            }

            p {
                @media (max-width: 991px) {
                    font-size: 1.2rem;

                }
                @media (max-width: 576px) {
                    font-size: 1rem;
                }
            }
        }

        #youtube-size {
            div {
            background-color: rgba(0, 0, 0, 0.0);

                iframe {
                    justify-content: left;
                    height: 50vh;
                    width: 50vw;

                    @media (max-width: 991px) {
                        height: 40vh;
                        width: 80vw;
                    }
                }
            }
        }
    }
}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";