
#homepage-top {
    height: 100vh;
    background: url(img/home_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -56px;
    
      #homepage-top-cover {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100vh;

        div {
            div {
                h1 {
                    @media (max-width: 992px) {
                        font-size: 4rem;
                    }
                    @media (max-width: 576px) {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}


#newest-entries {
    background: url(img/piwo-tlo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#events-short {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(117, 44, 2, 0.1)),
        url(img/pole.jpg);
    
    div {
        div {
            h1 {
                font-size: 3rem;

                @media (max-width: 576px) {
                    font-size: 2rem;
                }
            }
        }
    }

    
    #events-short-slider {
        
        h2 {
            width: 95%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top:40px;
            left:30px;
            color: rgb(255, 255, 255);

            @media (max-width: 992px) {
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
                top:0;
                left:0;
            }

            @media (max-width: 576px) {
                font-size: 0.8rem;
                width: 100%;
                text-align: center;
                top:0;
                left:0;
            }
        }
    }

    #events-short-youtube {
        div {
            color: white;
            background-color: rgba(0, 0, 0, 0.3);

            h2 {
                @media (max-width: 991px) {
                    font-size: 1.75rem;
                }

                @media (max-width: 576px) {
                    font-size: 1.5rem;
                }
            }

            p {
                @media (max-width: 992px) {
                    font-size: 1.2rem;

                }
                @media (max-width: 576px) {
                    font-size: 1rem;
                }
            }
        }

        #youtube-size {

            div {
            background-color: rgba(0, 0, 0, 0.0);

                iframe {
                    justify-content: left;
                    height: 50vh;
                    width: 50vw;

                    @media (max-width: 992px) {
                        height: 40vh;
                        width: 80vw;
                    }
                }
            }
        }
    }
}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


