@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


#newest-entries {
    #newest-entries-top {
        @include tab-head-image($homepageImageHeigth, $topTranslation, $darkerBackground);
        background-image: url(img/home_photo.jpg);
    
        @media (max-width: 767px){
            display: none;
        }

        #newest-entries-top-title {
            @media (max-width: 1200px) {
                font-size: 5rem;
            }
            @media (max-width: 992px) {
                font-size: 4.5rem;
            }
        }
    }
    
    #newest-entries-content {
        @include body-background-image;
        background-image: url(img/piwo-tlo.jpg);

        h1 {
            @include section-title;
        }
    }
}

