@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


#newest-entries {

    #newest-entries-background {
        @include background-head-image($homepageImageHeigth, $topTranslation);
        background-image: url(img/home_photo.jpg);
    
        #newest-entries-background-cover {
            background-color: rgba(0, 0, 0, 0.4);
            height: $homepageImageHeigth;
        }
    
        @media (max-width: 767px){
        display: none;
        }
    }
    
    #newest-entries-content {
        @include background-body-image;
        background-image: url(img/piwo-tlo.jpg);

        h1 {
            @include section-title;
        }
    }
}

