@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#entry-details {
    #entry-details-top {
        @include navbar-background($topTranslation){
            @media (max-width: 768px) {
                display: none;
            }
        };
    }

    div {
        h1{
            font-size: 3rem;

            @media (max-width: 768px) {
                font-size: 2.5rem; 
            }

            @media (max-width: 576px) {
                font-size: 2rem; 
            }
        }
    }

    .img-center {
    text-align: center;
    }

    img {
        width: 100%;
        text-align: center;
    }
    

#entry-details-content-date {
    span {
        &::before {
            content: "|"
        }
        @media (max-width: 576px) {
            display: block;

            &::before {
                content: "";
            }
        }
    }
}

    #entry-details-content-body {
        line-height: 1.8;
    }
}

#entry-details-error {
    height: 80vh;
}

