#entry-details {

    .img-center {
    text-align: center;
    }

    img {
        text-align: center;
    }

    #entry-details-title-background {
        background-color: rgb(245, 245, 245);
    }
    
    #entry-details-title {

        @media (max-width: 768px) {
        font-size: 3rem; 
        text-align: center;
        }
        @media (max-width: 576px) {
        font-size: 2rem; 
        text-align: center;
        }
    }

#entry-details-content-date {
    span {
        &::before {
            content: "|"
        }
        @media (max-width: 576px) {
            display: block;

            &::before {
                content: "";
            }
        }
    }
}

#entry-details-content-body {
    line-height: 1.8;
    }
}

#entry-details-error {
    height: 80vh;
}