@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#events {
  #events-content {
    h1 {
      @include section-title;
    }

    p {
      @media (max-width: 576px) {
        font-size: 1rem;
      }
    }

    #events-content-new-entries {
      @include body-background-image;
      background-image: $image-gradient, url("img/wiosna.jpg");
    }

    #events-content-old-entries {
      @include body-background-image;
      background-image: $image-gradient, url("img/jesien.jpg");
    }
  }
}
