@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

img {
    width: 100%;
    height: auto;
}

#testing-bottom {
    @include background-body-image;
    background-image: $image-gradient, url('img/degustacja.jpg');
}