// Override default variables before the import
$enable-rounded: false;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

    .test {
        position: relative;
        height: 40vh;
        top: -56px;
    
        @media (max-width: 768px) {
            top: 0;
            height: 40vh;
        }
    
        .slider {
            img {
                object-fit: cover;
                height: 40vh;
                width: 100%;
                filter: brightness(80%);

                @media (max-width: 768px) {
                    height: 40vh;
                }
            }
        }
    
        .head-title {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            justify-items: center;
    
            div {
                h1 {
                    @media (max-width: 992px) {
                        font-size: 3.5rem;
                        margin-right: 24px !important;
                        margin-left: 24px !important;
                    }
                    @media (max-width: 576px) {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    h1.section-title {
            font-size: 3rem;

            @media (max-width: 768px ) {
                font-size: 2.5rem;
            }
            @media (max-width: 576px) {
                font-size: 2rem;
            }
    }

    h2.pn-title {
        font-size: 2rem;

            @media (max-width: 768px ) {
                font-size: 2rem;
            }
            @media (max-width: 576px) {
                font-size: 1.5rem;
            }
    }

.grey-top {
    position: relative;
    top: -56px;
    height: 56px;
    background-color: #343A40;
}




// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap/scss/mixins/_breakpoints';
