@mixin tab-head-image($height, $top, $factor){
        position: relative;
        height: $height;
        top: $top;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        @media (max-width: 767px ) {
            top: 0;
        }

        .tab-head-image-background-cover {
            background-color: rgba(0, 0, 0, $factor);
            height: $height;

            h1 {
                @media (max-width: 1200px) {
                    font-size: 4rem;
                }
                @media (max-width: 992px) {
                    font-size: 3.5rem;
                }
                @media (max-width: 576px) {
                    font-size: 3rem;
                }
                @media (max-width: 375px) {
                    font-size: 2.5rem;
                }
            }  
        }
}

@mixin tab-head-slider($height, $top){
    position: relative;
    height: $height;
    top: $top;

    @media (max-width: 767px) {
        top: 0;
    }

    .slider {
        img {
            object-fit: cover;
            height: $height;
            width: 100%;
            filter: brightness(80%);
        }
    }

    .tab-head-slider-title {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-items: center;

        h1 {
            @media (max-width: 1200px) {
                font-size: 4rem;
            }
            @media (max-width: 992px) {
                font-size: 3.5rem;
            }
            @media (max-width: 576px) {
                font-size: 3rem;
            }
            @media (max-width: 375px) {
                font-size: 2.5rem;
            }
        }  
    }
}

@mixin body-background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin section-title {
    font-size: 3rem;

    @media (max-width: 768px ) {
        font-size: 2.5rem;
    }

    @media (max-width: 576px) {
        font-size: 2rem;
    }

    @media (max-width: 375px) {
        font-size: 1.75rem;
    }
}

@mixin navbar-background($arg){
    position: relative;
    top: $arg;
    height: -$arg;
    background-color: #343A40;
    @content;
}