$image-gradient: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.5));

$homepageImageHeigth: 100vh;
$tabImageHeigth: 30vh;
$topTranslation: -56px;
$darkBackground: 0.2; 
$darkerBackground: 0.4; 