#create-entry {
    
    h1 {
        @media (max-width: 576px) {
            font-size: 2rem;
        }
    }

    label { 
        margin-bottom: 0;
    }

    textarea {
        height: 200px;
    }

    img {
        height: auto;
        width: 200px;
    }
}