@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


img {
        width: 100%;
        height: auto;
    }
    
    #brewing-beer-content {
        @media (max-width: 576px) {
            font-size: 1rem;
        }
    }

    #brewing-bottom {
        @include background-body-image;
        background-image: $image-gradient, url(img/warzenie.jpg);
    }

