@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#brewing-beer {
  #brewing-beer-content {
    h1 {
      @include section-title;
    }

    p {
      @media (max-width: 576px) {
        font-size: 1rem;
      }
    }

    img {
      width: 100%;
    }

    #brewing-beer-content-entries {
      @include body-background-image;
      background-image: $image-gradient, url(img/warzenie.jpg);
    }
  }
}
