#login-background {
    position: relative;
    height: 20vh;
    top: -56px;
    background-image: url(login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#login-content {
    height: 60vh;
}