#login-background {
    position: relative;
    height: 40vh;
    top: -56px;
    background-image: url(login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
        top: 0;
    }

    div {
        div {
            h1 {
                @media (max-width: 992px) {
                    font-size: 3.5rem;
                }
                @media (max-width: 576px) {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

#login-content {
    margin: 24px auto 80px !important;

    @media (max-width: 768px) {
        margin: 48px auto !important;
    }
}